:root {
  --logo-rotate-duration: 8s;
}

@keyframes rotate {
  to {
    transform: rotate(360deg);
  }
}

.logo {

  animation: rotate 15s linear infinite;
  transform-origin: 50% 50%;
}

.box{
  height:120px;
  width:120px;
  text-align: center;
  text-align: center;
}

.reverse_rotate{
  animation: rotate 15s linear infinite reverse;
  transform-origin: 50% 50%;
  /* transform-rotate: 10deg; */
  font-size: 50px;
}